<app-banner-carrousel></app-banner-carrousel>

<!-- Inicio das categorais mais vendidas-->
<div class="Barra">
    <h1>Livros mais vendidos</h1>
</div>
<app-card-livro></app-card-livro>

<!--Inicio da categoria laçamentos da semana -->
<div class="Barra">
    <h1>Lançamentos da semana</h1>
</div>
<app-card-livro></app-card-livro>

<!--Inicio da categoria promoções -->
<div class="Barra">
    <h1>Promoções</h1>
</div>
<app-card-livro></app-card-livro>


<!--Inicio do rodapé-->

<footer class="rodape container">

    <div class="links">
        <a href="#">Atendimento ao cliente</a>
        <a href="#">SAQ</a>
        <a href="#">Perguntas frequentes</a>
        <a href="#">Suporte</a>
        <a href="#">Politica de troca</a>
        <a href="#">Politicas de devolução</a>
    </div>
    <!--Links referentes-->
    <!--Quem somos| Links do menu-->
    <div class="links2">
        <a href="#">Lançamentos</a>
        <a href="#">Promoções</a>
        <a href="#">Quem Somos</a>
        <a href="#">Mais Vendidos</a>
        <a href="#">Eventos</a>

    </div>

    <div class="redes-Socias">
        <h3>Redes Socias</h3>
        <a><img src="/assets/images/Redes sociais.png" alt="Redes Socias"></a>
    </div>




</footer>




  

