
<!-- Inicia Banner COm BootStrap -->

<main class="Banner">

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/images/Banner4.jpg" class="d-block w-100" alt="Livros">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/Image3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/Image2.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</main>
<!--Fim Do carossel | Inicio das categorais mais vendidas-->
<div class="Barra">
    <h1>Categorias mais vendidas</h1>

</div>

<div class="menu2">
    <nav Class="mais-Vendidos">
        <a href="#">Ação</a>
        <a href="#">Romance</a>
        <a href="#">Fincação-Cientifica</a>
        <a href="#">Aventura</a>
    </nav>
</div>
<!--Fim das categorias mais vendidas | Inicio dos produtos-->

<section class="produtos">

    <div class="ação">
        <h2>Ficção-cientifica</h2>

        <div class="container">


            <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mostra-coluna d-flex justify-content-center">
                    <div class="card">
                        <img src="/assets/images/Livro.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-warning">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 mostra-coluna d-flex justify-content-center">
                    <div class="card">
                        <img src="/assets/images/Livro.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-warning">Go somewhere</a>
                        </div>
                    </div>
                </div>



                <div class="col-12 col-md-6 col-lg-3 mostra-coluna d-flex justify-content-center">
                    <div class="card">
                        <img src="/assets/images/Livro.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-warning">Go somewhere</a>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>



    <div class="ação">
        <h2>Aventura</h2>

        <div class="container">


            <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mostra-coluna d-flex justify-content-center">
                    <div class="card">
                        <img src="/assets/images/Livro.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-warning">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 mostra-coluna d-flex justify-content-center">
                    <div class="card">
                        <img src="/assets/images/Livro.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-warning">Go somewhere</a>
                        </div>
                    </div>
                </div>



                <div class="col-12 col-md-6 col-lg-3 mostra-coluna d-flex justify-content-center">
                    <div class="card">
                        <img src="/assets/images/Livro.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-warning">Go somewhere</a>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>




    <div class="ação">
        <h2>ROmance</h2>

        <div class="container">


            <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mostra-coluna d-flex justify-content-center">
                    <div class="card">
                        <img src="/assets/images/Livro.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-warning">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 mostra-coluna d-flex justify-content-center">
                    <div class="card">
                        <img src="/assets/images/Livro.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-warning">Go somewhere</a>
                        </div>
                    </div>
                </div>



                <div class="col-12 col-md-6 col-lg-3 mostra-coluna d-flex justify-content-center">
                    <div class="card">
                        <img src="/assets/images/Livro.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-warning">Go somewhere</a>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>

    <div class="ação">
        <h2>ação</h2>

        <div class="container">


            <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mostra-coluna d-flex justify-content-center">
                    <div class="card">
                        <img src="/assets/images/Livro.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-warning">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 mostra-coluna d-flex justify-content-center">
                    <div class="card">
                        <img src="/assets/images/Livro.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-warning">Go somewhere</a>
                        </div>
                    </div>
                </div>



                <div class="col-12 col-md-6 col-lg-3 mostra-coluna d-flex justify-content-center">
                    <div class="card">
                        <img src="/assets/images/Livro.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-warning">Go somewhere</a>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>
    <div class="veja-Mais"><a href="#" class="btn btn-warning">Veja mais</a></div>
</section>

<!--Fim dos produtos-->
<!--Inicio das informações sobre a empresa-->

<div class="quem-Somos container">
    <img src="/assets/images/Banner2.jpg" alt="Quem Somos?" class="quem-somos-img">
    <div class="conteudo">
        <h1 class="titulo1">Quem Somos?</h1>
        <p class="text">Somos a casa dos livros, estamos no mercado a mais de 20 anos, trazendo conforto e
            entreteirimento.........
            Somos a casa dos livros, estamos no mercado a mais de 20 anos, trazendo conforto e
            entreteirimento.........
            Somos a casa dos livros, estamos no mercado a mais de 20 anos, trazendo conforto e
            entreteirimento.........
            Somos a casa dos livros, estamos no mercado a mais de 20 anos, trazendo conforto e
            entreteirimento.........</p>
    </div>


</div>
<!--Fim do quem somos-->
<!--Inicio do rodapé-->

<footer class="rodape container">

    <div class="links">
        <a href="#">Atendimento ao cliente</a>
        <a href="#">SAQ</a>
        <a href="#">Perguntas frequentes</a>
        <a href="#">Suporte</a>
        <a href="#">Politica de troca</a>
        <a href="#">Politicas de devolução</a>
    </div>
    <!--Links referentes-->
    <!--Quem somos| Links do menu-->
    <div class="links2">
        <a href="#">Lançamentos</a>
        <a href="#">Promoções</a>
        <a href="#">Quem Somos</a>
        <a href="#">Mais Vendidos</a>
        <a href="#">Eventos</a>

    </div>

    <div class="redes-Socias">
        <h3>Redes Socias</h3>
        <a><img src="/assets/images/Redes sociais.png" alt="Redes Socias"></a>
    </div>




</footer>




  

