.card-livro_container > section {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: center;
}

/*Botões referente ao slide*/
.card-livro_Anterior {
    margin-top: 160px;
    height: 40px;
    margin-left: 10px;;
}
.card-livro_Proximo {
    margin-left: 10px;
    margin-top: 160px;
    height: 40px;
    
}
/*Termino dos  botões*/

.card-livro_propriedades:hover {
    transform: scale(1.05);
  }
.card-livro_propriedades {
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.267);

    margin-bottom: 60px;
    margin-left: 20px;

    width: 200px;
    height: 300px;


    background-color: #29637c;


    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.card-livro_propriedades>h3{
    margin-top: 10px;
    font-size: 1.1em;
    color: white;
}
.card-livro_propriedades>P {
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.card-livro_image {
    width: 140px;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.card-livro_buttons {
    margin-bottom: 5px;
    display: flex;
    align-items: space-between;

}
button {
    background-color: #D0A03C;
    border-radius: 5px;
    height: 50px;
    font-size: 0.9em;
}

.card-livro_buttons>.button2 {
    
    margin-left: 10px;
}
.card-livro_carrinho{
    
   width: 30px;
}