<div class=" card-livro_container">

    <section class="card-livro_informatica">
        <button class="card-livro_Anterior" (click)="anteriorCardInfo()" [disabled]="startIndex === 0">
            << </button>

                <div class="card-livro_propriedades" *ngFor="let livro of livrosVisiveis">
                    <p>{{livro.categoria}}</p>
                    <img alt="Produto" src="{{livro.imagem}}" class="card-livro_image">
                    <h3>{{livro.titulo }}</h3>
                    <p class="card-livro_preco">R${{ livro.preco }}</p>
                    <div class="card-livro_buttons">
                        <button>Comprar</button>
                        <div class="button2"><button>Adicionar ao carrinho</button></div>
                    </div>
                </div>
                <button class="card-livro_Proximo" (click)="proximoCardInformatica()"
                    [disabled]="endIndex >= informatica.length">></button>
    </section>
    <!--Fim da categoria Informatica-->

    <!--Categoria Português-->
    <section class="card-livro_portugues">
        <button class="card-livro_Anterior" (click)=" anteriorCardPortugues()" [disabled]="startIndex === 0">
            << </button>
                <div class="card-livro_propriedades" *ngFor="let livroPortugues of livrosVisiveisPortugues">
                    <p>{{livroPortugues.categoria}}</p>
                    <img alt="Produto" src="{{livroPortugues.imagem}}" class="card-livro_image">
                    <h3>{{livroPortugues.titulo }}</h3>
                    <p class="card-livro_preco">{{ livroPortugues.preco }}$</p>
                    <div class="card-livro_buttons">
                        <button>Comprar</button>
                        <div class="button2"><button>Adicionar ao carrinho</button></div>
                    </div>
                </div>
                <button class="card-livro_Proximo" (click)="proximoCardPortugues()"
                    [disabled]="endIndex >= portugues.length">></button>
            </section>
    <!--fim da categoria Português-->

    <!--Categoria Biologia-->
    <!--fim da categoria Biologia-->
</div>