    <!-- Topo do Html + Menu -->
    <div class="Topo">
        <Div class="container-gid">
            <Img src="/assets/images/Logo.svg" class="logo" />
            <nav class="menu mostraMenu" id="menubar">
                <a routerLink="">Home</a>
                <a href="#">Enventos</a>
                <a href="#">Promoções</a>
                <a routerLink="/login">Login</a>
                <a href="#">Mais vendidos</a>
            </nav>
            <img onclick="mostrarMenu()" src="/assets/images/menuHam.svg" class="menu-Ham">
        </Div>
    </div>
    <!-- FIM Topo do Html + Menu -->