/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Roboto;
    src: url(assets/Fonts/Roboto/Roboto-LightItalic.ttf);

}

@font-face {
    font-family: Russo;
    src: url(assets/Fonts/Russo/RussoOne-Regular.ttf)
}

body {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    background-color:rgba(221, 220, 220, 0.26);
}