<div class="adicionar-livro_container">
    <h1>Adicionar novo Livro</h1>
    <div class="adicionar-livro_form">

        <form class="formulario">
            <div class="form">
                <h3>Titulo</h3>
                <input type="text" id="titulo" label="Titulo" placeholder="Titulo"  [(ngModel)]="novoLivro.titulo" name="titulo">
            </div>
            <div class="form">
                <h3>Categorias</h3>
                <input type="text" id="categoria" label="Categoria" placeholder="Categoria"  [(ngModel)]="novoLivro.categoria" name="Categoria">
            </div>
            <div class="form">
                <h3>Preço</h3>
                <input type="number" id="preco" label="Preco" placeholder="Preço"  [(ngModel)]="novoLivro.preco" name="Preco">
            </div>
            <div class="form">
                <h3>Quantidade de páginas</h3>
                <input type="number" id="qtdPaginas" label="Paginas" placeholder=""  [(ngModel)]="novoLivro.quantidadePaginas" name="QuantidadePaginas">
            </div>
            <div class="form">
                <h3>Imagem</h3>
                <input type="text" id="imagem" label="imagem" placeholder="Url"  [(ngModel)]="novoLivro.imagem" name="imagem">
            </div>
            <button (click)="add()">Enviar</button>
        </form>
    </div>
</div>